.CartAppss {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.Cart-items-container {
  background-color: #f9f8f8;
  border-radius: 8px;
}

.Cart-shipping-info p {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.Cart-shipping-icon {
  font-size: 28px;
  margin-right: 10px;
}

.Cart-items {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.Cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  flex-wrap: wrap;
}

.Cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Cart-item-details {
  flex-grow: 1;
  padding-left: 20px;
}

.Cart-item-price {
  width: 100px;
  text-align: left;
}

.Cart-item-quantity input {
  width: 60px;
  text-align: center;
}

.Cart-buybutton {
  background-color: #ffffff;
  border: 1px solid #003731;
  color: #003731;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  flex-shrink: 0;
}

.Cart-summary {
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.Cart-price-details p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.Cart-price-row {
  display: flex;
  justify-content: space-between;
}

.Cart-total-amount {
  font-weight: bold;
}

.Cart-checkout-button,
.Cart-google-pay-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.Cart-checkout-button {
  background-color: #003731;
  color: white;
  border: none;
  border-radius: 5px;
}

.Cart-google-pay-button {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .Cart-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .Cart-item-img {
      width: 80px;
      height: 80px;
  }

  .Cart-item-details {
      padding-left: 0;
      padding-top: 10px;
  }

  .Cart-item-price {
      width: auto;
      text-align: left;
      margin-top: 10px;
  }

  .Cart-buybutton {
      margin-top: 10px;
  }

  .Cart-item-quantity input {
      width: 50px;
  }

  .Cart-checkout-button,
  .Cart-google-pay-button {
      width: 100%;
  }
}
